<div id = "Issue">
    <div class="container">
        <form [formGroup]="form" (ngSubmit)=" onSubmit()">
        <div class="row">
          <div class="col-25">
            <label>Issue Title</label>
          </div>
          <div class="col-75">
            <input formControlName="title" type="text"  placeholder="Enter issue title">
          </div>
        </div>
            
        <div class="row">
          <div class="col-25">
            <label>Description of Issue</label>
          </div>
          <div class="col-75">
            <textarea formControlName="description" placeholder="Enter description of issue" style="height:140px"></textarea>
          </div>
        </div>

        <div class="row">
          <input class="btn" type="submit" value="Add Issue">
        </div>
      </form>    

           <!-- write logic to display message if form is submitted-->
           <div class ="row">
           <div *ngIf="message" class ="message">{{message}}  </div>
          </div>
           <div id ="issues">
            <div class ="container">
              <!--Display issuses-->
              <div *ngFor="let issue of issues">
                <div>
                  <p> {{ issue.title}}</p>
                  <p> {{ issue.description }}</p>
                </div>
                <!-- <button (click)="deleteIssue(issue.id)">Delete</button> -->
              </div>
            </div>
          </div>
          </div>
    
    
    